# SPDX-FileCopyrightText: : 2024 https://github.com/bobbyxng
#
# SPDX-License-Identifier: MIT

.snakemake*
.ipynb_checkpoints
__pycache__
*dconf
gurobi.log
.vscode
*.orig

# Directories
/benchmarks
#/config/*
/cutouts
/data
/logs
/networks
/resources
/results

# Exceptions
#!/config/config.yaml
